th{
    border: 3px solid black;
}
td{
    border: 3px solid black;
    text-align: center;
    height: 20px
}
table{
    font-family: serif;
    width: 525px;

}
tbody{
    font-family: monospace;
}

thead tr:nth-child(1) th:nth-child(1){
    font-size: 50px;
    background-color: rgb(55,55,55);
    color: white;
}

tbody tr:nth-child(1) th:nth-child(1),
thead tr:nth-child(1) th:nth-child(2){
    background-color: rgb(55,55,55);
    color: white;
}
thead tr:nth-child(2),
tbody tr:nth-child(1) th:nth-child(2),
tbody th:nth-child(1),
tbody tr:nth-child(1) td:nth-child(3),
tbody tr:nth-child(2) td:nth-child(3),
tbody tr:nth-child(3) td:nth-child(4),
tbody tr:nth-child(4) td:nth-child(5),
tbody tr:nth-child(5) td:nth-child(6){
    background-color: rgb(110,110,110);

}