* {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  box-sizing: border-box;

}

main {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  background-color: #e5e5e5;
    position: relative;
    top: 0.5rem;

}

.articles {
  width: 100%;
}


article {
    position: relative;
    width: 260px;
    height: 90px;
    border-radius: 0.5rem;
    margin: 0.25rem;
    background-color: white;
}

span.pokenumber{
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
}
section.typeoverview{
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
}

.grass{
    background-color: #78c850;
    color: white;
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
}

.fire{
    background-color: #f08030;
    color: white;
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
}

.flying{
    background-color: #a890f0;
    color: white;
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
}

.poison{
    background-color: #a040a0;
    color: white;
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
}

h2 {
    position: relative;
    color: #4078c0;
    left: 1rem;
    bottom: 0.25rem;

}
 img {
     position: absolute;
     right: 1rem;
     top: 1rem;
 }


