table {
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

thead tr:nth-child(1) {
    text-align: center;
    background-color: #0072ff;
    color: white;
    text-decoration: underline;
}
tr:nth-child(2) th:nth-child(odd) {
    background-color: cornflowerblue;
    color: white;
}

tr:nth-child(2) th:nth-child(even) {
    background-color: cyan;
}

tr:nth-child(3) {
    background-color: grey;
    text-align: center;
    text-decoration: underline;
}